.errorlabel
{

	background-color: red !important;
	color:#fff !important;
	padding: 10px !important;

}
.successlabel
{
	background-color: green !important;
	color:#fff !important;
	padding: 10px !important;
}
